* {
  box-sizing: border-box;
}

html {
  height: 100vh;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: open sans;
  background-color: blanchedalmond;
}

.card {
  width: 500px;
  height: 500px;
  position: relative;
  transform-style: preserve-3d;
  transition: 1s ease;
 }
 
}

.card_front,
.card_back {
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 6px;
  backface-visibility: hidden;
}

.card_front {
  background-color: yellow;
  z-index: 1;
}

.card_back {
  background-color: pink;
  transform: rotateY(180deg);
}

.card-cont {
  display: inline-block;
}

.card-cont:hover .card { 
  transform: perspective(500px) rotateY(180deg);
}

.bg {
  width: 100%;
  height: 85%;
  object-fit: cover;
  border-radius: 10px;
}

.pfp {
  width: 150px;
  border: 3px solid blanchedalmond;
  object-fit: cover;
  border-radius: 10px;
  translate: 0% -60%;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  justify-content: flex-end;
  text-align: left;
}

/* 
article {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: 50vw;
  max-width: 25em;
  min-width: 20em;
  border-radius: 1rem;
  background: #f1f0e2;
  box-shadow: 0 0 20px 20px rgba(0,0,0,.1);
  transition: .25s;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  justify-content: flex-end;
  text-align: left;
  padding-bottom: 10px;
}

h1 {
  margin-top: 2rem;
  margin-bottom: 0px;
  color: #1e3f5a;
}

button {
  position: absolute;
  right: 1rem;
  top: 1rem;
  width: 2.5rem;
  height: 2.5rem;
  padding: .25rem;
  border: none;
  border-radius: 50%;
  background: #1e3f5a;
  transform: scale(.8);
  transition: .25s;
}
button:focus {
  outline: none;
  background: #1e3f5a;
}
button:focus svg {
  stroke: #f1f0e2;
}

svg {
  position: absolute;
  top: calc(1.25rem - 12px);
  left: calc(1.25rem - 12px);
  stroke: #f1f0e2;
  transition-delay: .25s;
}
button svg:nth-of-type(2) {
  opacity: 0;
  transition-delay: 0ms;
}

.profile-container {
  position: relative;
  width: 90%;
  height: 50%;
  margin-bottom: 5px;
}

.background-image {
  position: absolute;
  top: 5px; 
  left: 5px; 
  right: 5px; 
  height: 100%; 
  z-index: 0; 
  border-radius: 10%; 
  overflow: hidden;
}

.profile-picture {
  position: relative;
  z-index: 1; 
  top: 50%;
  left: 10%;
  transform: translate(-50%, 50%);
  width: 75px;
  height: 75px;
  border: 2px solid #1e3f5a;
  border-radius: 10%;
  box-shadow: 0 0 2px 2px #00000033;
  transition: .25s .15s;
  object-fit: cover;
}

dl {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "html-dd css-dd js-dd"
    "html-dt css-dt js-dt"
    ;
  justify-items: center;
  align-items: start;
  width: 100%;
  margin-top: -3rem;
  margin-bottom: 0;
  padding: 5rem 0 3rem;
  text-align: left;
  background: #f1f0e2;
}

dt {
  margin-top: .25rem;
  padding-top: .25rem;
  border-top: 1px solid rgba(0,0,0,0.3);
  font-weight: bold;
}
dt:nth-of-type(1) {
  grid-area: html-dt;
}
dt:nth-of-type(2) {
  grid-area: css-dt;
  transform: translateY(1rem);
}
dt:nth-of-type(3) {
  grid-area: js-dt;
}

dd {
  margin: 0;
  padding-left: .3rem;
  transition: .25s .3s;
}
dd:nth-of-type(2){  
  transform: translateY(1rem);
}

p { 
  margin: 1px;
}

article > p {
  width: 100%;
  margin-top: 0;
  padding-bottom: 5px;
  padding: 3rem 2rem;
  border-radius: 0 0 1rem 1rem;
  text-align: left;
  background: #f1f0e2;
}

body.expand {
  font-size: 1.15em;
}

body.expand article {
  width: 60vw;
  max-width: 60vw;
}

body.expand button svg:first-of-type {
  opacity: 0;
  transition-delay: 0ms;
}

body.expand button svg:nth-of-type(2) {
  opacity: 1;
  transition-delay: .25s;
}

body.expand dd {
  font-size: 1.75em;
}

body.expand img {
  width: 15em;
} */
